/* ubuntu-regular - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}

html {
  font-size: 16px;
}

body {
  font-family: 'Ubuntu';
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding: 1.5vh;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  max-width: 48rem;
  margin: auto;
  position: relative;
}

noscript p {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
}

hr {
  margin: 1vh 0;
}

img {
  display: block;
  max-width: 100%;
}

p,
button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

button,
button:focus {
  outline: none;
}

button:active {
  transform: translateY(4px);
}

#moveLeft {
  transform: rotate(180deg);
}

#moveLeft:active {
  transform: rotate(180deg) translateY(-4px);
}

.flex {
  display: flex;
}

.tool {
  height: 8vh;
  margin-bottom: 2vh;
}

/* Boards */

.boardsContainer {
  justify-content: space-around;
}

/* Tetris */

.tetrisContainer {
  height: 55vh;
  margin-bottom: 2vh;
}

canvas {
  border: solid 1px #fff;
  height: 100%;
}

/* Buttons */

.controllersContainer .row {
  justify-content: space-around;
}

.buttonsContainer,
.controllersContainer {
  flex-direction: column;
}

#start {
  padding: 0 1rem;
  background-color: green;
  border-radius: 4px;
  margin: 2vh 0 0 0;
}

@media only screen and (orientation: landscape) {
  .boardsContainer {
    font-size: 2.5vh;
  }

  .tetrisContainer {
    height: 70vh;
  }

  .buttonsContainer .row {
    position: absolute;
    width: 100%;
    left: 0;
    justify-content: center;
  }

  .row:first-child {
    top: 30vh;
  }

  .row:last-child {
    bottom: 40vh;
  }

  .row > button:first-child {
    margin-right: 30vh;
  }

  .row > button:last-child {
    margin-left: 30vh;
  }

  .row > button > img {
    margin: 0;
  }
}

@media only screen and (min-height: 1000px) {
  .tetrisContainer {
    max-height: 700px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .tool {
    height: 80px;
  }

  .row > button:first-child {
    margin-right: 20rem;
  }

  .row > button:last-child {
    margin-left: 20rem;
  }

  .startContainer {
    margin-bottom: 10vh;
  }
}
